<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
	<li><a href="#">My Groups</a></li>
    <li class="active">Stark's Lab Core Team</li>
</ul>
<!-- END BREADCRUMB -->     

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
    <div class="row">
		<div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/images/groups/starkslablogo.jpg" alt="Nadia Ali"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Starks Lab Core Team</div>
						<div class="profile-data-title">"Make time to make a difference"</div>
                    </div>
					<div class="profile-controls">	
                        <a href="#" class="profile-control-right"><span class="fa fa-pencil"></span></a>
                    </div>									
                </div>                                
            </div>                               
        </div>
		<div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search for users"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success btn-block"><span class="fa fa-plus"></span> Add Member</a>
                            </div>
                        </div>
                    </form>                                    
                </div>
            </div>
            
        </div>
    </div>
	
	<div class="row">
        <div class="col-md-4">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile" style="background:#333">
                    <div class="profile-image">
                        <img src="assets/images/users/avatar.jpg" alt="Nadia Ali"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Echo Cristobal</div>
                        <div class="profile-data-title">Developer/Designer</div>
                    </div>
                    <div class="profile-controls">
                        <a href="profileTimeline.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </div>
                </div>                                                              
            </div>
            <!-- END CONTACT ITEM -->
        </div>
        <div class="col-md-4">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile" style="background:#333">
                    <div class="profile-image">
                        <img src="assets/images/users/user6.jpg" alt="Dmitry Ivaniuk"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Jelene Guzman</div>
                        <div class="profile-data-title">Developer/Designer</div>
                    </div>
                    <div class="profile-controls">
                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </div>
                </div>                                
               
            </div>
            <!-- END CONTACT ITEM -->
        </div>
		<div class="col-md-4">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile" style="background:#333">
                    <div class="profile-image">
                        <img src="assets/images/users/user4.jpg" alt="Dmitry Ivaniuk"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Iko Pardillo</div>
                        <div class="profile-data-title">Developer/Designer</div>
                    </div>
                    <div class="profile-controls">
                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </div>
                </div>                                
               
            </div>
            <!-- END CONTACT ITEM -->
        </div>
        

    </div>
        
        
    </div>
                                            
</div>
<!-- END PAGE CONTENT WRAPPER -->                       