<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">News Feed</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            
            <!-- START TIMELINE -->
            <div class="timeline">
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item timeline-main">
                    <div class="timeline-date">2017</div>
                </div>
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item">
                    <div class="timeline-item-info">Yesterday</div>
                    <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                    <div class="timeline-item-content">
                        <div class="timeline-heading">
                            <img src="assets/images/users/user2.jpg"/> <a href="#">Gladys Yu</a> created Stark App <a href="#">Lorem ipsum dolor sit amet</a>
                        </div>
                        <div class="timeline-body">
                            <img src="assets/images/appicons/Stark's Lab.png" width="70px" class="img-text" align="left"/>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus dolor id orci lacinia, eget aliquam velit consequat.</p>
                            <p>Vivamus at tincidunt lectus, faucibus condimentum quam. Duis facilisis sem sed eros malesuada, vel dignissim diam ornare. Etiam rhoncus, nibh non auctor mattis, ligula diam mattis dolor, non tincidunt lectus velit nec metus. 
                               Phasellus dictum justo vitae ornare lobortis. Integer ut lectus vel mauris tempor ultricies eget vitae turpis. Sed eleifend odio quis rutrum volutpat.</p>
                            <ul class="list-tags">                                            
                                <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                                <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                                <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                                <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
                            </ul>                                            
                        </div>
                        <div class="timeline-body comments">
                            <div class="comment-item">
                                <img src="assets/images/users/user4.jpg"/>
                                <p class="comment-head">
                                    <a href="#">John Tan</a> <span class="text-muted">@bradpitt</span>
                                </p>
                                <p>Awesome, man, that is awesome...</p>
                                <small class="text-muted">10h ago</small>
                            </div>                                            
                            <div class="comment-write">                                                
                                <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                            </div>
                        </div>                                        
                        <div class="timeline-footer">
                            <a href="#">Read more</a>
                            <div class="pull-right">
                                <a href="#"><span class="fa fa-comment"></span> 35</a> 
                                <a href="#"><span class="fa fa-share"></span></a>
                            </div>
                        </div>
                    </div>
                </div>       
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item timeline-item-right">
                    <div class="timeline-item-info">06 Oct 2014</div>
                    <div class="timeline-item-icon"><span class="fa fa-star"></span></div>
                    <div class="timeline-item-content">
                        <div class="timeline-heading" style="padding-bottom: 10px;">
                            <img src="assets/images/users/user2.jpg"/> 
                            <a href="#">Gladys Yu</a> joined group <a href="#">Web Developers</a>
                        </div>     
                        <div class="timeline-body comments">
                            <div class="comment-item">
                                <img src="assets/images/users/user.jpg"/>
                                <p class="comment-head">
                                    <a href="#">Joshua Marquez-Lim</a> <span class="text-muted">@Aqvatarius</span>
                                </p>
                                <p>You r welcome my friend :)</p>
                                <small class="text-muted">5 min ago</small>
                            </div>
                            <div class="comment-item">
                                <img src="assets/images/users/user2.jpg"/>
                                <p class="comment-head">
                                    <a href="#">Gladys Yu</a> <span class="text-muted">@Janedoe</span>
                                </p>
                                <p>Thank you, Dmitry!!! ;)</p>
                                <small class="text-muted">1 min ago / to @Aqvatarius</small>
                            </div>
                            <div class="comment-write">                                                
                                <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                            </div>
                        </div>
                    </div>
                </div>                                
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item">
                    <div class="timeline-item-info">06 Oct 2014</div>
                    <div class="timeline-item-icon"><span class="fa fa-users"></span></div>
                    <div class="timeline-item-content">
                        <div class="timeline-heading" style="padding-bottom: 10px;">
                            <img src="assets/images/users/user3.jpg"/>
                            <a href="#">Cole Villanueva</a> added friends to <a href="#">XMEN</a> Group 
                            <img src="assets/images/users/user.jpg"/>
                            <img src="assets/images/users/user2.jpg"/>
                            <img src="assets/images/users/user4.jpg"/>
                        </div>                                        
                        <div class="timeline-body comments">
                            <div class="comment-write">                                                
                                <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                            </div>
                        </div>                                        
                    </div>
                </div>                                
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item timeline-main">
                    <div class="timeline-date">2013</div>
                </div>
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item timeline-item-right">
                    <div class="timeline-item-info">30 Dec 2013</div>
                    <div class="timeline-item-icon"><span class="fa fa-user"></span></div>
                    <div class="timeline-item-content">
                        <div class="timeline-heading padding-bottom-0" style="padding-bottom: 10px;">
                            <img src="assets/images/users/user2.jpg"/>
                            <a href="#">Gladys Yu</a> update user image                                            
                        </div>                                        
                        <div class="timeline-body text-center">
                            <img src="assets/images/users/user2.jpg" width="100" class="img-circle img-thumbnail"/>
                        </div>
                        <div class="timeline-body comments">
                            <div class="comment-write">                                                
                                <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TIMELINE ITEM -->
                
                <!-- START TIMELINE ITEM -->
                <div class="timeline-item timeline-main">
                    <div class="timeline-date"><a href="#"><span class="fa fa-ellipsis-h"></span></a></div>
                </div>                                
                <!-- END TIMELINE ITEM -->
            </div>
            <!-- END TIMELINE -->
            
        </div>
    </div>
    
</div>
<!-- END PAGE CONTENT WRAPPER -->      