<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li class="active">My Groups</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-users"></span> My Groups<small>2 Groups</small></h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Use search to find apps group</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="What are you looking for?"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="starkAppCreate.html" class="btn btn-success btn-block"><span class="fa fa-plus"></span> Create New Group</a>
                            </div>
                        </div>
                    </form>                                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/images/groups/starkslablogo.jpg" alt="Nadia Ali"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">Stark's Lab Core Team</div>
                    </div>
                    <div class="profile-controls">
                        <a href="groupPage.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="fa fa-pencil"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">
					<h3 class="text-title">Stark Apps</h3>
                    <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <a href="#" class="friend">
                                <img src="assets/images/appicons/default icon (12).png"/>
                                <span>Stak's Lab</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#" class="friend">
                                <img src="assets/images/appicons/default icon (9).png"/>
                                <span>P3</span>
                            </a>                                            
                        </div>
                    </div>
                    <h3 class="text-title">Developers</h3>
                    <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <a href="#" class="friend">
                                <img src="assets/images/users/avatar.jpg"/>
                                <span>Echo Cristobal</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#" class="friend">
                                <img src="assets/images/users/user6.jpg"/>
                                <span>Jelene Guzman</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#" class="friend">
                                <img src="assets/images/users/user4.jpg"/>
                                <span>Iko Pardillo</span>
                            </a>                                            
                        </div>
                    </div>
                </div>                              
            </div>
            <!-- END CONTACT ITEM -->
        </div>
        <div class="col-md-4">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/images/groups/xmen.jpg" alt="Dmitry Ivaniuk"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">XLabs League</div>
                    </div>
                    <div class="profile-controls">
                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="fa fa-pencil"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">
					<h3 class="text-title">Stark Apps</h3>
                    <div class="row">
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#" class="friend">
                                <img src="assets/images/appicons/default icon (13).png"/>
                                <span>Choo</span>
                            </a>                                            
                        </div>
                    </div>
                    <h3 class="text-title">Developers</h3>
                    <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <a href="#" class="friend">
                                <img src="assets/images/users/avatar.jpg"/>
                                <span>Echo Cristobal</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#" class="friend">
                                <img src="assets/images/users/user4.jpg"/>
                                <span>Iko Pardillo</span>
                            </a>                                            
                        </div>
                    </div>
                </div>                              
            </div>
            <!-- END CONTACT ITEM -->
        </div>
        

    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>                                    
                <li><a href="#">»</a></li>
            </ul>                            
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->                                                 