<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="#">Stark App Center</a></li>
</ul>
<!-- END BREADCRUMB -->                                                 

<!-- START CONTENT FRAME -->
<div class="content-frame">   
    
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">        
        <!-- PAGE TITLE -->
        <div class="page-title">                    
            <h2><span class="fa fa-caret-square-o-right"></span> Stark App Center <small>33 Apps</small></h2>
        </div>
        <!-- END PAGE TITLE -->                 

        <div class="col-md-6 pull-right">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="fa fa-search"></span>
                </div>
                <input type="text" class="form-control" placeholder="Search by name, category or tags" ng-model="searchString"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
             <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
       
    </div>
    
    <!-- START CONTENT FRAME RIGHT -->
    <div class="content-frame-right">                    
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
            <a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
            <a href="#" class="list-group-item">Productivity <span class="badge badge-success">7</span></a>
            <a href="#" class="list-group-item">Gamification <span class="badge badge-danger">3</span></a>
            <a href="#" class="list-group-item">Innovation <span class="badge badge-info">2</span></a>
            <a href="#" class="list-group-item">Product <span class="badge badge-default">3</span></a>
            <a href="#" class="list-group-item">Equation <span class="badge badge-warning">3</span></a>
            <a href="#" class="list-group-item">Midas <span class="badge badge-success">3</span></a>
        </div>                                                
        <h4>Tags:</h4>
        <ul class="list-tags">
            <li><a href="#"><span class="fa fa-tag"></span> Java</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Angularjs</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> VB</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Website</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> RPG</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> QA</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Management</a></li>
        </ul>
    </div>
    <!-- END CONTENT FRAME RIGHT -->

    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        
        <div class="gallery" id="links">
             
            <div class="row">
        
                <div class="col-md-4" ng-repeat="app in myData | searchFor:searchString" ng-cloak>
        
            <!-- STARK APP ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/images/appicons/{{ app.icon.normalSizeLink }}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{ app.name }}</div>
                        <div class="profile-data-title" ng-repeat="developer in app.developers">
                            <span>{{ developer.firstName }} {{ developer.lastName }}</span>
                        </div>
                    </div>
                    <div class="profile-controls">
                        <a href="starkApp?id={{ app.id }}" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="fa fa-star-o"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">                                    
                    <div class="contact-info">
                        <p><small>Description</small><br/> {{ app.description }} </p>
                        <p><small>Downloads</small><br/> {{ app.downloadCount }} </p>
                        <p><small>Rating</small><br/> {{ app.ratingAverage }} </p>                                      
                    </div>
                </div>    
                
            </div>
            <div ng-if="$index == 2 || $index == 5 || $index == 8" style="padding-bottom:50px;">.</div>
            <!-- END STARK APP ITEM -->
        
            </div>
                        
        </div>
             
        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>                                    
            <li><a href="#">»</a></li>
        </ul>
    </div>       
    <!-- END CONTENT FRAME BODY -->
</div>               
<!-- END CONTENT FRAME -->
                
