<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/starkAppCenter">Stark App Center</a></li>
    <li class="active">{{ appData.name }}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Stark App</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="content-frame">
    
    <div class="row super">
	
		<div class="col-md-3" ng-controller="starkAppPageController">
            
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img check-app-image ng-src="assets/images/appicons/{{ appData.icon.normalSizeLink }}"/>

                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{ appData.name }} </div>
                        <div class="profile-data-title" ng-repeat="developer in appData.developers">
                            <span>{{ developer.firstName }} {{ developer.lastName }}</span>
                        </div>
                    </div>                                  
                </div>                                
                <div class="panel-body list-group border-bottom">
					<button class="btn btn-info btn-lg btn-block" ng-click="downloadApp()"><i ng-class="getIconClass(appData.type)"></i> {{ appData.formattedType }}</button>
					
                    <button class="mb-control-rate btn btn-warning btn-lg btn-block" data-box="#mb-rate" href="#rate"><i class="fa fa-star"></i> RATE </button>

					<p class="list-group-item" style="border:none;"> Downloads <span class="badge badge-default"> {{ appData.downloads }} </span></p>                           
                    <p class="list-group-item" style="border:none;"> Rating <span class="badge badge-default"> {{ appData.rating }} </span></p>        
				
				
                </div>
                <div class="panel-body">
                    <h4 class="text-title">Developers</h4>
                    <div class="row">
                        <div class="col-md-4 col-xs-4" ng-repeat="developer in appData.developers">
                            <a href="#" class="friend">
                                <img check-image ng-src="assets/images/users/{{developer.id}}.png" alt="Image"/>
                                <span>{{ developer.firstName }} {{ developer.lastName }}</span>
                            </a>                                            
                        </div>
                    </div>
       
                
                </div>
            </div>      

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Categories</h3>
                    <div class="links" ng-repeat="category in appData.categories">
                        <a href="#">{{ category.name }} <span class="label label-default">1</span></a>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Tags</h3>
                    <ul class="list-tags push-up-10" ng-repeat="tag in appData.tags">
                        <li><a href="#"><span class="fa fa-tag"></span> {{ tag }}</a></li>
                    </ul>
                </div>
            </div>                            
		
            
        </div>
        <div class="col-md-9">
            
            <div class="panel panel-default">
                <div class="panel-body posts">
                            
                    <div class="post-item">
                        <div class="post-date">
                            <span class="fa fa-calendar"></span> 
                            <span>
                                Last Updated: {{ appData.formattedUpdateDate | date :'dd/MMM/yyyy'}}
                            </span> 
                        </div>
                        <div class="post-text">                                            
                            <h4>Description</h4>
                            <p> 
                                {{ appData.text }}
                            </p>
                            <h4>How to use</h4>
                                
                        </div>
                    </div>                                            
                       
                    <h3 class="push-down-20">Reviews</h3>
                    <ul class="media-list" ng-repeat="review in appData.reviews">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-text" check-image ng-src="assets/images/users/{{review.user.id}}.jpg"  width="64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"> {{ review.user.firstName }} {{ review.user.lastName }} </h4>
                                <p> Rating: {{ review.rating }} </p>
                                <p> {{ review.text }} </p>
                                <p class="text-muted"> {{ review.date }} </p>
                            </div>                                            
                        </li>
                    </ul>  
								
                </div>
            </div>
            
        </div>
        
    </div>
                                            
</div>
<!-- END PAGE CONTENT WRAPPER -->         

<!-- RATE BOX-->
        <div class="message-box animated fadeIn" id="mb-rate">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-star"></span> Rate {{ appData.name }}</div>
                    <div class="mb-content">
                        <div class="form-group">

                            <div class="col-md-1 col-md-offset-3">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" data-ng-model="userRating" data-ng-value="1" required/> 1 </label>
                            </div>
                            <div class="col-md-1">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" data-ng-model="userRating" data-ng-value="2"/> 2 </label>
                            </div>
                            <div class="col-md-1">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" data-ng-model="userRating" data-ng-value="3"/> 3 </label>
                            </div>
                            <div class="col-md-1">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" data-ng-model="userRating" data-ng-value="4"/> 4 </label>
                            </div>
                            <div class="col-md-1">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" data-ng-model="userRating" data-ng-value="5"/> 5 </label>
                            </div>

                            <textarea class="form-control" placeholder="Write a review (Optional)" rows="1" data-ng-model="userReview"></textarea> 
                            
                        </div>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right" >                   
                            <button ng-controller="starkAppPageController" ng-click="rateApp()" class="btn btn-success btn-lg mb-control-rate-close">Submit</button>
                            <button class="btn btn-default btn-lg mb-control-rate-close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END RATE BOX-->              
<script type="text/javascript" src="../js/actions1.js"></script>