<!-- START BREADCRUMB -->
<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Profile</a></li>
	<li><a href="#">My Stark Apps</a></li>
	<li class="active">Create</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

	<div class="row">
		<div class="col-md-12">
			
			<form class="form-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Create New Stark App</strong></h3>
				</div>
				<div class="panel-body">
					<p>Some reminders?</p>
					</div>
				<div class="panel-body">                                                                        
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">App Name</label>
						<div class="col-md-6">
							<input type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Developers</label>
						<div class="col-md-6 col-xs-12">                                                                                            
							<input type="text" class="tagsinput" value="jeguzman, jpardill"/>
							<span class="help-block">Dropdown users as they type. Similar to JIRA functionality</span>
						</div>
					</div>
					
					<div class="form-group">                                        
						<label class="col-md-3 col-xs-12 control-label">Date Created</label>
						<div class="col-md-6 col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
								<input type="text" class="form-control datepicker" value="2017-10-01">                                            
							</div>
						</div>
					</div>
														
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Description</label>
						<div class="col-md-6 col-xs-12">                                            
							<textarea class="form-control" rows="2"></textarea>
							<span class="help-block">Short description. Maximum of 140 characters.</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Text</label>
						<div class="col-md-6 col-xs-12">                                            
							<textarea class="form-control" rows="5"></textarea>
							<span class="help-block">Long description. Maximum of 5000 characters</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">How to use</label>
						<div class="col-md-6 col-xs-12">                                            
							<textarea class="form-control" rows="5"></textarea>
							<span class="help-block">Instructions</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Categories</label>
						<div class="col-md-6 col-xs-12">                                                                                            
							<input type="text" class="tagsinput" value="First,Second,Third"/>
							<span class="help-block">Get this from categories table. Use a dropdown as they type?</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Tags</label>
						<div class="col-md-6 col-xs-12">                                                                                            
							<input type="text" class="tagsinput" value="First,Second,Third"/>
							<span class="help-block">Descriptive tags for easy searching. Any word can be a tag, unlike categories which we have defined</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Kind of app</label>
						<div class="form-group">
                            <div class="col-md-6">                                    
                                <label class="check"><input type="radio" class="iradio" name="iradio" checked="checked"/> Downloadable</label>
                                <span class="help-block"></span>                         
                                <label class="check"><input type="radio" class="iradio" name="iradio"/> Website</label>
                                <span class="help-block">This will hide/show [Upload File] or [URL] divs below depending on what is selected</span>   
                            </div>
                        </div>

					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">Upload File</label>
						<div class="col-md-6 col-xs-12">                                                                                                                                        
							<input type="file" class="fileinput btn-primary" name="filename" id="filename" title="Browse file"/>
							<span class="help-block">Input type file</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">URL</label>
						<div class="col-md-6">
							<input type="text" class="form-control"/>
						</div>
					</div>

				</div>
				<div class="panel-footer">
					<button class="btn btn-default">Clear Form</button>                                    
					<button class="btn btn-primary pull-right">Submit</button>
				</div>
			</div>
			</form>
			
		</div>
	</div>                    
	
</div>
<!-- END PAGE CONTENT WRAPPER -->   
                               
 <!-- START SCRIPTS -->
   
        
        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>                
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
        <!-- END THIS PAGE PLUGINS -->       
        
        <!-- START TEMPLATE -->
 
        
        <script type="text/javascript" src="js/plugins.js"></script>        
    
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->     