<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="starkAppCenter">Home</a></li>
    <li><a href="starkAppIncubator">Stark App Incubator</a></li>
    <li class="active"><a href="#">Add Concept</a></li>
</ul>
<!-- END BREADCRUMB -->                                                 

<!-- START CONTENT FRAME -->
<div class="content-frame" ng-controller="starkAppAddConceptController">

	<!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top adjust10">        
        <!-- PAGE TITLE -->
        <div class="page-title">                    
            <h2> <span class="fa fa-lightbulb-o"></span> Add Concept</h2>
        </div>
        <!-- END PAGE TITLE -->      
    </div>
	
						<div class="panel-body" >		
					</div>
				
				<form class="form-horizontal"> <!--action="mailto:starkslab@finastra.com?subject=[New Stark's App]" method="post" enctype="text/plain"-->
					<!--input type="hidden" name="Sender " value="{{globals.currentUser.firstName}} {{globals.currentUser.lastName}} <{{globals.currentUser.email}}>"/-->
					<input type="hidden" name="Date " id="theDate"/>
					<input type="hidden" name="Author " id="author" data-ng-model="conceptAuth" data-ng-value="{{globals.currentUser.userName}}"/>
				
					<div class="panel-body">		
					
						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">App Name</label>
							<div class="col-md-6 col-xs-12">    
							<input type="text" name="App Name " class="form-control" value=" " data-ng-model="conceptName"/>
							</div>
						</div>
								
						<div class = "form-group">
							<label class="col-md-3 col-xs-12 control-label">Idea Author</label>
							<div class="col-md-6 col-xs-12">    
							<input type="text" name="Idea Author " class="form-control" value="{{globals.currentUser.firstName}} {{globals.currentUser.lastName}}" readonly/>
							</div>
						</div> 
						
						
						<div class = "form-group">
							<label class="col-md-3 col-xs-12 control-label">Status</label>
							<div class="col-md-6 col-xs-12">    
							<input type="text" name="Status " class="form-control" value="{{defaultStatus}}" readonly/>
							</div>
						</div> 
						
						<div class = "form-group">
							<label class="col-md-3 col-xs-12 control-label">Category</label>
							<div class="col-md-6 col-xs-12">    
							<div class="dropdown">
							  <button class="btn dropdown-toggle dropdowntext" type="button" data-toggle="dropdown" data-ng-model="category" > {{ defaultCategory }}
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li  ng-repeat="category in listCategories" ng-click="setCategory(category.id)"><a href="#">{{category.name}}</a></li>
							  </ul>
							</div>
							</div>
							<script>
							$(function(){
								$(".dropdown-menu").on('click', 'li a', function(){
								  $(".dropdowntext").text($(this).text());
								  $(".dropdowntext").val($(this).text());
							   });
							});
							</script>
						</div> 
						
						
						
							
						<!--div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Idea Author</label>
                                        <div class="col-md-6 col-xs-12">                                                                                             
                                            <input type="text" name="Developers " class="form-control"/>
                                        </div>
                                    </div-->
						
						<!--div class="form-group">                                        
							<label class="col-md-3 col-xs-12 control-label">Date Submitted</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
									<input type="text" class="form-control datepicker" value="2018-01-01" name="Date Created ">                                            
								</div>
							</div>
						</div-->
											

											
						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Description</label>
							<div class="col-md-6 col-xs-12">                                            
								<textarea class="form-control" rows="4" name="Text " data-ng-model="conceptDesc" maxlength="250"></textarea>
								<span class="help-block">Detailed description of your idea</span>
							</div>
						</div>

																</div>

					<div class="panel-footer">							
						<input class="btn btn-default" type="reset" value="Clear">
						<button ng-click="addTool()" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-send"></span></span> ADD CONCEPT</button>
					</div>

				</form>	
</div>               
<!-- END CONTENT FRAME -->

