<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li class="active">Wishlist Center</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- START CONTENT FRAME -->
<div class="content-frame" ng-controller="starkAppIncubatorController">   
    
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">                        
        <div class="page-title">                    
            <h2><span class="fa fa-lightbulb-o"></span> Stark App Incubator</h2>
        </div>                                      
        <div class="pull-right">                            
            <button class="btn btn-success" ng-click="go('/starkAppAddConcept')"><span class="fa fa-plus"></span> Add Concept</button>
            <!--button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button-->
        </div>                         
    </div>

	<div class="content-frame-right">                    
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
			<!------------- Start Dynamic Categories ------------>
			<!-- First Category: 'ALL' -->
			<a href="#" class="list-group-item" ng-click="goAllCategory()" ng-class="getActiveAllCategoryClass()">All <span class="badge badge-primary">{{ allItemsCount }}</span></a>
			<!-- List all category from DB -->
			<a href="#" class="list-group-item" ng-repeat="category in listCategories" ng-click="goCategory(category.id)" ng-class="getActiveCategoryClass(category.id)">{{category.name}}<span class="badge badge-primary">{{ category.toolCount }}</span></a>
			<!-------------- End Dynamic Categories ------------->
			
			
        </div>                                                
        <h4>Tags:</h4>
        <ul class="list-tags">
            <li><a href="#" ng-click="searchString = 'Java'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Java</a></li>
            <li><a href="#" ng-click="searchString = 'Angularjs'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Angularjs</a></li>
            <li><a href="#" ng-click="searchString = 'VB'" onclick="defaultCategories()"><span class="fa fa-tag"></span> VB</a></li>
            <li><a href="#" ng-click="searchString = 'Website'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Website</a></li>
            <li><a href="#" ng-click="searchString = 'RPG'" onclick="defaultCategories()"><span class="fa fa-tag"></span> RPG</a></li>
            <li><a href="#" ng-click="searchString = 'QA'" onclick="defaultCategories()"><span class="fa fa-tag"></span> QA</a></li>
            <li><a href="#" ng-click="searchString = 'Management'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Management</a></li>
        </ul>
    </div>
    
    <!-- START CONTENT FRAME RIGHT -->
    <!--div class="content-frame-right">                        
                            
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
            <a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
            <a href="#" class="list-group-item">Concept <span class="badge badge-info">7</span></a>
            <a href="#" class="list-group-item">Development <span class="badge badge-warning">3</span></a>
			<a href="#" class="list-group-item">Productivity <span class="badge badge-success">7</span></a>
            <a href="#" class="list-group-item">Gamification <span class="badge badge-danger">3</span></a>
            <a href="#" class="list-group-item">Innovation <span class="badge badge-info">2</span></a>
            <a href="#" class="list-group-item">Product <span class="badge badge-default">3</span></a>
            <a href="#" class="list-group-item">Equation <span class="badge badge-warning">3</span></a>
            <a href="#" class="list-group-item">Midas <span class="badge badge-success">3</span></a>
        </div>                                                
        <h4>Tags:</h4>
        <ul class="list-tags">
            <li><a href="#"><span class="fa fa-tag"></span> Java</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Angularjs</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> VB</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Website</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> RPG</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> QA</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Management</a></li>
        </ul>
    </div-->
    <!-- END CONTENT FRAME RIGHT -->

    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        
        <div class="gallery" id="links">
             
              <div class="row">
			  
			  <div class="col-md-4 appItem ng-scope" ng-repeat="app in myData | searchFor:searchString " ng-cloak>
        
					<!-- STARK APP ITEM -->
					<div class="panel panel-success push-up-20">
						<button class="btn btn-warning btn-block">Concept</button>
						<div class="conceptItem panel-body panel-body-pricing">
							<h2 class="conceptTitle">{{ app.name }}<br/><small>{{ removeLastChar(app.categoryString) }}</small></h2>
							<p class="conceptDesc"><span class="fa fa-caret-right"></span> {{ app.description}}</p>
							<!--<p class="text-muted">Idea Author: {{app.ideaAuthor}} </p>-->
							<div class="col-md-12">                                
								<button ng-class="isUpvote(app.voted)" ng-click="upvote(app.id)"><span class="fa fa-arrow-up"></span>Upvote</button>
							</div>
							<!--div class="col-md-6">                             
								<button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
							</div-->
						</div>
						<div class="panel-footer">
							<span class="fa fa-clock-o"></span> {{ app.updateDate }} &nbsp;&nbsp;&nbsp;
							<span class="fa fa-arrow-up"></span> {{ app.upvotes }} &nbsp;&nbsp;&nbsp;
							<!--span class="fa fa-comment-o"></span> 3-->
						</div>
					</div>
					
					<!-- END STARK APP ITEM -->
				
				</div>
			  
			  
        <!-- PRICING TABLE -->
        
        <!-- END PRICING TABLE-->
			</div>
                           
             
        </div>
             
        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>                     
            <li class="disabled"><a href="#">»</a></li>
        </ul>
    </div>       
    <!-- END CONTENT FRAME BODY -->
</div>               
<!-- END CONTENT FRAME -->
                
