<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li class="active">Wishlist Center</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- START CONTENT FRAME -->
<div class="content-frame" ng-controller="starkAppIncubatorController">   
    
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">                        
        <div class="page-title">                    
            <h2><span class="fa fa-lightbulb-o"></span> Stark App Incubator</h2>
        </div>                                      
        <div class="pull-right">                            
            <button class="btn btn-success" ng-click="go('/starkAppAddConcept')"><span class="fa fa-plus"></span> Add Concept</button>
            <!--button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button-->
        </div>                         
    </div>

	<div class="content-frame-right">                    
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
			<!------------- Start Dynamic Categories ------------>
			<!-- First Category: 'ALL' -->
			<a href="#" class="list-group-item" ng-click="goAllCategory()" ng-class="getActiveAllCategoryClass()">All <span class="badge badge-primary">{{ allItemsCount }}</span></a>
			<!-- List all category from DB -->
			<a href="#" class="list-group-item" ng-repeat="category in listCategories" ng-click="goCategory(category.id)" ng-class="getActiveCategoryClass(category.id)">{{category.name}}<span class="badge badge-primary">{{ category.toolCount }}</span></a>
			<!-------------- End Dynamic Categories ------------->
			
			
        </div>                                                
        <h4>Tags:</h4>
        <ul class="list-tags">
            <li><a href="#" ng-click="searchString = 'Java'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Java</a></li>
            <li><a href="#" ng-click="searchString = 'Angularjs'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Angularjs</a></li>
            <li><a href="#" ng-click="searchString = 'VB'" onclick="defaultCategories()"><span class="fa fa-tag"></span> VB</a></li>
            <li><a href="#" ng-click="searchString = 'Website'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Website</a></li>
            <li><a href="#" ng-click="searchString = 'RPG'" onclick="defaultCategories()"><span class="fa fa-tag"></span> RPG</a></li>
            <li><a href="#" ng-click="searchString = 'QA'" onclick="defaultCategories()"><span class="fa fa-tag"></span> QA</a></li>
            <li><a href="#" ng-click="searchString = 'Management'" onclick="defaultCategories()"><span class="fa fa-tag"></span> Management</a></li>
        </ul>
    </div>
    
    <!-- START CONTENT FRAME RIGHT -->
    <!--div class="content-frame-right">                        
                            
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
            <a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
            <a href="#" class="list-group-item">Concept <span class="badge badge-info">7</span></a>
            <a href="#" class="list-group-item">Development <span class="badge badge-warning">3</span></a>
			<a href="#" class="list-group-item">Productivity <span class="badge badge-success">7</span></a>
            <a href="#" class="list-group-item">Gamification <span class="badge badge-danger">3</span></a>
            <a href="#" class="list-group-item">Innovation <span class="badge badge-info">2</span></a>
            <a href="#" class="list-group-item">Product <span class="badge badge-default">3</span></a>
            <a href="#" class="list-group-item">Equation <span class="badge badge-warning">3</span></a>
            <a href="#" class="list-group-item">Midas <span class="badge badge-success">3</span></a>
        </div>                                                
        <h4>Tags:</h4>
        <ul class="list-tags">
            <li><a href="#"><span class="fa fa-tag"></span> Java</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Angularjs</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> VB</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Website</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> RPG</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> QA</a></li>
            <li><a href="#"><span class="fa fa-tag"></span> Management</a></li>
        </ul>
    </div-->
    <!-- END CONTENT FRAME RIGHT -->

    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        
        <div class="gallery" id="links">
             
              <div class="row">
			  
			  <div class="col-md-4 appItem" ng-repeat="app in myData | searchFor:searchString " ng-cloak>
        
					<!-- STARK APP ITEM -->
					<div class="panel panel-success push-up-20">
						<button class="btn btn-warning btn-block">Concept</button>
						<div class="panel-body panel-body-pricing">
							<h2>{{ app.name }}<br/><!--small>Eq - Process Improvement</small--></h2>
							<p><span class="fa fa-caret-right"></span> {{ app.text }}</p>
							<div class="col-md-6">                                
								<button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
							</div>
							<div class="col-md-6">                                
								<button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
							</div>
						</div>
						<div class="panel-footer">
							<span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
							<span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
							<span class="fa fa-comment-o"></span> 3
						</div>
					</div>
					
					<!-- END STARK APP ITEM -->
				
				</div>
			  
			  
        <!-- PRICING TABLE -->
        <div class="col-md-4">

            <div class="panel panel-success push-up-20">
				                            
                <button class="btn btn-success btn-block">Development</button>
                <div class="panel-body panel-body-pricing">
                    <h2>Autoreg version 2<br/><small>Eq - Process Improvement</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Optimize Autoreg run and make the reporting comprehensive. </p>
                    <p><span class="fa fa-caret-right"></span> shorten auto regression run form 6-8hrs to 3-4hours.</p>
                    <p><span class="fa fa-caret-right"></span> Improve Autoregression reporting.</p>
                    <p class="text-muted">Author: Christian Calonge</p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="panel panel-warning push-up-20">
                 <button class="btn btn-warning btn-block">Concept</button>
                <div class="panel-body panel-body-pricing">
                    <h2>Micro EQ<br/><small>Eq - Product Innovation</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Strip down EQ to run GL/Accounts module only.</p>
                    <p><span class="fa fa-caret-right"></span> Open all accounting API’s for easy integration to apps under PAAS environment (using FFC).</p>
                    <p class="text-muted">Author:  Archie David</p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-warning push-up-20">
                 <button class="btn btn-warning btn-block">Concept</button>
                <div class="panel-body panel-body-pricing">
                    <h2>Quick EOD<br/><small>Eq - Product Innovation</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Decrease EOD time from 3-6 hours by 50%.</p>
                    <p><span class="fa fa-caret-right"></span> a. Identify jobs run during EOD and transfer execution to Day phase</p>
                    <p><span class="fa fa-caret-right"></span> b. Optimize eod components by replacing WRKQRY/OPNQRY functions to SQL.</p>
                    <p class="text-muted">Author: Archie David/Ronnie Palicpic </p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>

        <div class="col-md-4">

                <div class="panel panel-success push-up-20">
                                            
                <button class="btn btn-success btn-block">Development</button>
                <div class="panel-body panel-body-pricing">
                    <h2>Autoreg Scheduling tool<br/><small>Eq - Process Imporvement</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Create a tool that will schedule auto-regression runs.</p>
                    <p><span class="fa fa-caret-right"></span> Optimize use of machine resources as this will minimize downtime.</p>
                    <p class="text-muted"> Author:  Edu Fajardo</p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-success push-up-20">
                                            
                <button class="btn btn-success btn-block">Development</button>
                  
                <div class="panel-body panel-body-pricing">
                    <h2>L3 Autodocs EQ<br/><small>Equation</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Generates docs from Jira fields</p>
                    <p><span class="fa fa-caret-right"></span> For fast/accurate/consistent documents</p>
                    <p class="text-muted">Wisher: Jelene Guzman</p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-warning push-up-20">
                 <button class="btn btn-warning btn-block">Concept</button>
                  
                <div class="panel-body panel-body-pricing">
                    <h2>iSeries Autoscreenshot<br/><small>CB - Process Improvement</small></h2>                                
                    <p><span class="fa fa-caret-right"></span> Captures all screens of iSeries teminal </p>
                    <p><span class="fa fa-caret-right"></span> Automatically creates accurate error repro/fix testing documents</p>
                    <p class="text-muted">Author: Jelene Guzman</p>
                    <div class="col-md-6">                                
                        <button class="btn btn-info btn-block"><span class="fa fa-arrow-up"></span>Upvote</button>
                    </div>
                    <div class="col-md-6">                                
                        <button class="btn btn-default btn-block"><span class="fa fa-comments-o"></span>Collab</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-arrow-up"></span> 5 &nbsp;&nbsp;&nbsp;
                    <span class="fa fa-comment-o"></span> 3

                </div>
            </div>

        </div>
        <!-- END PRICING TABLE-->
    </div>
                           
             
        </div>
             
        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>                                    
            <li><a href="#">»</a></li>
        </ul>
    </div>       
    <!-- END CONTENT FRAME BODY -->
</div>               
<!-- END CONTENT FRAME -->
                
