<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Stark's Lab</title>                 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                    
    </head>
    <body>
        
        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <!-- <div class="login-logo"></div> -->
                <div class="login-body">
                    <div class="login-title"><strong>Greetings</strong>, Please login</div>
                    <form  name="form" ng-submit="login()" role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text"  name="username" id="username" class="form-control" placeholder="Username" ng-model="username" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
					<div id="loginErrorCollapse" class="collapse">
						<div class="alert alert-danger" role="alert">
							<button type="button" class="close" data-toggle="collapse" data-target="#loginErrorCollapse"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							Incorrect username or password. Please try again.
						</div>
					</div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 Stark's Lab
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
        
		<!-- Modal -->
		<div class="modal fade" id="loginModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content" login-body>
					<div clas="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title login-title">Login Error</h4>
					</div>
					<div class="modal-body">
						<p>{{error}}</p>
					</div>
				</div>
			</div>
		</div>
		
    </body>
</html>






