<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Stark's Lab</title>                 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link href="js/plugins/jquery/animate.css" rel="stylesheet">
		<link href="css/newsletter.css?version=4" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!-- EOF CSS INCLUDE -->                                    
    </head>
    <body>
		<div class = "container">
			<div class = "logo"></div>
			<div class = "headerText">STARK'S NEWSLETTER</div>
            <div class = "divider"></div>
			<!-- MOST DOWNLOADED APPS -->
			<div class = "divHeader">MOST DOWNLOADED APPS</div>
			<div class="row">
				<div class="col-sm-3">
					<div class = "frame"></div>
				</div>
				<div class="col-sm-9">App 2</div>
			</div>
		</div>
        
	
		
		 <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="../js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../js/plugins/bootstrap/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS -->
        <script type="text/javascript" src="../js/plugins/angular/angular.js"></script>
        <script type="text/javascript" src="../js/plugins/angular-route/angular-route.js"></script>  
        <script src="../js/plugins/angular-cookies/angular-cookies.js"></script>

        <script type="text/javascript" src="../js/plugins.js"></script>        
        <script type="text/javascript" src="../js/actions.js"></script>
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script src="../js/script.js"></script>
        
        <script src="../js/controllers/loginController.js"></script>

        <script src="../js/services/services.js"></script>
        <script src="../js/constants.js"></script>
        <!-- END TEMPLATE -->
        <!-- END SCRIPTS -->    
		
		<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/velocity.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/jquery.fittext.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/jquery.lettering.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/jquery.textillate.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script>
		$( document ).ready(function() {
			//$(".loginContainer").velocity({width : "100%", height : "100%", top : 0, left : 0, borderRadius : 0, marginTop : 0, marginLeft : 0}, {duration : 200});;
			//rotateLogo();
		});
		
		
	
		
	</script>
	
	
		
    </body>
</html>






